<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farhan's Gym</title>
    <!-- <link rel="stylesheet" href="gym.css"> -->
    style
        include ../static/gym.css
</head>
<body>
    <header class="header">
    <div class="left">
        <img src="https://images.pexels.com/photos/949131/pexels-photo-949131.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div>Farhan fitness</div>
    </div>
    <div class="mid">
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Fitness Calculator</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </div>
    <div class="right">
        <button class="btn">Contact Details</button>
        <button class="btn">Email Us</button>
    </div>
</header>
<div class="container">
    <h1>Fill this form to join the best Gym of Bilaspur</h1>
    <form action="/",method="post" class="join">
    <div>
        Your Name:<input type="text",name="name" >
    </div>
    <div>
        Your Age:<input type="text",name="age" placeholder="">
    </div>
    <div>
        Your Gender: <input type="text",name="mygen">
    </div>
    <div>
        Your Weight:<input type="text",name="weight" placeholder="In kgs">
    </div>
    <div>
        <input type="submit" class="btn1">
    </div>
    </form>
</div>
<p class="gym">
    <ul class="contents">
        <h2>Our Gym have</h2>
        <li>Cardio Machines</li>
        <li>Certified Trainer</li>
        <li>Personal trainers</li>
        <li>Locker Facility</li>
        <li>Suppliments Store</li>
        <li>AC Facility</li>
        <li>Hygiene Care</li>
    </ul>
</p>
</body>
</html>